$label-color: #3c6382;
$category-info-color: #303952;
$button-border-color: #303952;
$inputs-border-color: #c8d6e5;

$form-width: 750px;
$form-col2-gap: 10px;
$form-col3-gap: 10px;

.form {
  margin: 0 auto;
  padding: 60px 0;
  width: $form-width;

  display: flex;
  flex-direction: column;

  &__info-category {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20PX;
    letter-spacing: 0.02em;
    color: $category-info-color;

    &:not(:first-child) {
      margin-top: 25px;
    }
  }

  &__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__error {
      margin-top: 5px;
    }
  }

  &__group {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 17px;
    }

    &--col-2, &--col-3 {
      display: grid;
    }

    &--col-2 {
      .form__col {
        max-width: calc(#{$form-width} / 2 - #{$form-col2-gap});
      }

      gap: $form-col2-gap;
      grid-template-columns: repeat(2, 1fr);
    }

    &--col-3 {
      .form__col {
        max-width: calc(#{$form-width} / 3 - #{$form-col3-gap});
      }

      gap: $form-col3-gap;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__label {
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
    color: $label-color;
    letter-spacing: 0.02em;
  }

  &__buttons {
    gap: 25px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: flex-end;

    &__cancel-button, &__send-button {
      outline: none;
      line-height: 1;
      cursor: pointer;
      font-size: 17px;
      font-weight: 500;
      border-radius: 5px;
      padding: 15px 32px;
      transition: all .3s;
      letter-spacing: 0.02em;
      border: 1px solid $button-border-color;
    }

    &__cancel-button {
      background-color: transparent;

      &:hover {
        color: #fff;
        background-color: $button-border-color;
      }
    }

    &__send-button {
      color: #fff;
      background-color: $button-border-color;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, .1);

      &:hover {
        background-color: #fff;
        color: $button-border-color;
      }
    }
  }
}
