<div class="welcome animate__animated animate__fadeIn">
  <h1 class="welcome__heading">Dios les bendiga</h1>

  <p class="welcome__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam excepturi reiciendis sed. Aliquam eaque esse et, fugit inventore maxime numquam officiis optio quia quisquam reiciendis repellat soluta velit voluptatibus voluptatum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam excepturi reiciendis sed. Aliquam eaque esse et, fugit inventore maxime numquam officiis optio quia quisquam reiciendis repellat soluta velit voluptatibus voluptatum!
  </p>

  <span>
    <strong>Tiempo estimado: </strong><span class="welcome__time">5 minutos</span>
  </span>

  <button class="welcome__start" (click)="navigate()">Iniciar encuesta</button>
</div>
